# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.
services:
  api:
    build:
      context: ./backend/src
      dockerfile: Debug.Dockerfile
    ports:
      - 5000:5000
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    volumes: []
    networks:
      - mssql_network

  nginx: #name of the fourth service
    container_name: loadbalancer_nginx
    build: loadbalancer # specify the directory of the Dockerfile
    restart: always
    ports:
      - "80:80" #specify ports forewarding
    networks:
      - mssql_network
volumes:
  mssql_data: # Named volume to persist data
