<mat-toolbar class="bg-primary text-white shadow-md">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <!-- Logo/Brand -->
    <a routerLink="/" class="flex items-center">
      <span class="text-xl font-bold">CleanArch App</span>
    </a>

    <!-- Main Navigation -->
    <div class="hidden md:flex space-x-4">
      <a routerLink="/home" class="py-2 px-3 hover:bg-primary-dark rounded-md transition duration-200">Home</a>
      <a routerLink="/contacts" class="py-2 px-3 hover:bg-primary-dark rounded-md transition duration-200">Contacts</a>
    </div>

    <!-- User Menu -->
    <div *ngIf="user" class="relative">
      <button mat-button [matMenuTriggerFor]="userMenu" class="flex items-center">
        <span class="mr-2">{{user.firstName}} {{user.lastName}}</span>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <a mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </a>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    <!-- Login Link (if not logged in) -->
    <a *ngIf="!user" routerLink="/login" mat-button>
      <mat-icon>login</mat-icon>
      <span class="ml-1">Login</span>
    </a>
  </div>
</mat-toolbar>
